body {
    background-color: gray;
}

a {
    color: navy;
}

#current-link {
    text-decoration: none;
}

.uppercase{
    text-transform: uppercase;
    font-size: 45px;
} 

img{
    width:450px;
    height:auto;
}

h1{
    border: 5px dashed orange;  
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}    